<nav class=" navbar navbar-expand-lg navbar-light fixed-top  shadow-sm" style="background-color: #ffffff;">
    <div class=" container-fluid">
        <span class=" navbar-brand ms-4"> Santi Musarra</span>

            <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_menu" aria-controls="navbar_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar_menu">
                <ul class=" navbar-nav text-center">
                    <li class="nav-item me-4 mt-3 mt-md-0">
                        <Button class="btn btn-outline-dark border-0 navbar-buttons"><a style="color: inherit;"  class=" text-decoration-none" href="#home">Home</a></Button>
                    </li>
                    <li class="nav-item me-4 mt-2 mt-md-0">
                        <Button class="btn btn-outline-dark border-0 navbar-buttons"><a style="color: inherit;"  class=" text-decoration-none" href="#projects">Projects</a></Button>
                    </li>
                    <li class="nav-item me-4 mt-2 mt-md-0" >
                        <Button class="btn btn-outline-dark border-0 navbar-buttons"><a style="color: inherit;"  class=" text-decoration-none" href="#contact">Contact</a></Button>
                    </li>
                    <li class="nav-item me-4 mt-2 mt-md-0">
                        <Button class="btn btn-outline-danger border-0 "><a style="color: inherit;"  class=" text-decoration-none" href="../assets/documents/CVGameDev-MusarraSanti.pdf" download="CVGameDev-Musarra.pdf">Resume</a></Button>
                    </li>
                </ul>
            </div>
    </div>
</nav>