<div class=" row pt-5 mt-5">
    <div class="col-12 text-center pb-2">
        <h2 class=" mb-3 text-center">Wanna reach out?</h2>
        <h5 class=" text-center mt-3"> Feel free to drop me a message if you have some interesting offer or you want to hang out.</h5>
    </div>
    <div class="col-12 text-center mt-3 mb-5">
        <button class=" btn btn-danger btn-lg "><a style="color: inherit;"  class=" text-decoration-none" href="mailto:smdeveloper24@gmail.com">Write an Email!</a></button>
    </div>
</div>
