<div class=" container ">
    <div class="row">
        <div class="col-12">
            <app-navbar-component></app-navbar-component>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-home-component id="home"></app-home-component>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-projects-screen id="projects"></app-projects-screen>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-contact id="contact"></app-contact>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
            <h6 class="mt-5 mb-5 text-center text-muted">Made with <fa-icon style="color: red;" [icon]="faHeart" size="1x"></fa-icon> by Santi Musarra </h6>
        </div>
    </div>
</div>